<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/spring-security-oauth2-google/src/main/java/com/rst/oauth2/google/config/SpringBootRestApplication.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.rst.oauth2.google.config.SpringBootRestApplication"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="spring-security-oauth2-google"/>
</launchConfiguration>
